---
import Base from "~/layouts/BaseLayout.astro";
import PageHero from "~/components/PageHero.astro";
import { site } from "~/site.config";

const title = "Culinary Arts";
const description = "From Prep to Plate. Success served.";

// Breadcrumbs: last item is current page (no href)
const breadcrumb = [
  { label: "Home", href: "/" },
  { label: "Academics" },
  { label: title },
];
---

<Base title={`${title} | ${site.name}`} description={description}>
  <PageHero title={title} breadcrumb={breadcrumb} />

  <article
    class="prose prose-slate md:prose-lg mx-auto max-w-3xl px-4 py-10
           prose-a:text-bulldog-orange prose-a:no-underline hover:prose-a:underline
           prose-img:rounded-xl prose-headings:font-semibold"
  >
    <h2>Cook. Create. Succeed.</h2>
    <p>
     The Culinary Arts program is for students looking to go into a two or four-year college or working in the culinary or hospitality fields. Students learn diverse aspects of the culinary and food service industry.
    </p>
<img src="/assets/culinary.jpg" />
  </article>

    

    </div>
  </section>
</Base>

